.portfolio-section-container {
  background-color: rgb(255,252,243);

  .portfolio-section-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: 'syne-extra-font';
      font-size: 80px;

      &:hover {
        color: rgb(250,153,3);
        cursor: default;
      }
    }

    span {
      font-family: 'overpass-font';
      font-size: 20px;
      padding-top: 2vh;
    }
  }
}
