<div class="project-container">
  <div data-aos="fade-right">
    <h1 class="project-counter">02/05</h1>
  </div>
  <div data-aos="fade-left" class="project-content-image-container">
    <div class="project-content-description">
      <h1>El Pollo Loco</h1>
      <span class="project-applications">JavaScript | HTML | CSS</span>
      <span class="project-explanation">2D jump and run game set in the desert of Mexico. With the character Pepe you have to fight your way to the final boss and defeat it.</span>
      <button (click)="openPolloLocoGithubURL()">Github</button>
      <button (click)="openPolloLocoLiveTestURL()">Live Test</button>
    </div>
    <div class="overlay-arrow"></div>
    <div class="overlay"></div>
    <img class="project-content-image" src="./../../assets/img/portfolio-projects/projects-2/destop-view/Property 2=DEfault.png">
   </div>
</div>
