.header-container {
  background-color: rgb(255,252,243);
  height: 92px;
  width: 100vw;
  position: fixed;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 2.5vh;
}
