.above-the-fold-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(255,252,243);
}

.above-the-fold-headline {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'syne-extra-font';
  font-size: 70px;
  padding-top: 15vh;
}

.above-the-fold-underline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.straight-line {
  width: 30vw;
  height: 4px;
  background-color: black;
}

h3 {
  font-size: 50px;
  font-family: 'overpass-font';
  color: rgb(250,153,3);
  margin-left: 1vw;
}

.above-the-fold-scroll-down {
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  width: 90vw;
  font-family: 'overpass-font';
}

.left-email {
  animation: rotate-container 1s ease-in-out;
  transform: rotate(-90deg);
  font-size: 20px;
}

.right-scroll-arrow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 200px;
  font-size: 20px;
}

.scroll-arrow {
  background-size: cover;
  animation: changeImages 1.2s infinite;
  width: 120px;
  height: 200px;
}

@keyframes changeImages {
    9% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/1.png'); }
  10% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/2.png'); }
    22% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/2.png'); }
  23% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/3.png'); }
    35% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/3.png'); }
  36% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/4.png'); }
    48% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/4.png'); }
  49% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/5.png'); }
    61% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/5.png'); }
  62% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/6.png'); }
    65% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/7.png'); }
  100% { background-image: url('./../../assets/img/above-the-folder/scroll-arrow/7.png'); }
}

@keyframes rotate-container {
  0% {
    transform: rotate(-90deg)
  }
  100% {
    transform: rotate(-90deg);
  }
}
