<div class="above-the-fold-container">
  <div class="above-the-fold-headline">
    <h1>Frontend</h1>
    <h1>Developer</h1>
  </div>
  <div class="above-the-fold-underline">
    <div class="straight-line"></div>
    <div>
      <h3>Lars Thönnes</h3>
    </div>
  </div>
  <div class="above-the-fold-scroll-down">
    <div class="left-email">
      <span>Larsthoennes&#64;gmail.com</span>
    </div>
    <div>
      <a href="#aboutMe" class="right-scroll-arrow">
        <div class="scroll-arrow" id="scrollArrow"></div>
        <span>Scroll<br> Down</span>
      </a>
    </div>
  </div>
</div>
