<div class="menu-section-footer-container">
  <div>
    <h2>© Lars Thönnes 2024</h2>
  </div>
  <div class="footer-section-container-right">
    <div class="app-icon-container">
      <div class="single-app-icon-container">
        <a  href="mailto:larsthoennes@gmail.com">
          <img src="-/../../../assets/img/footer/app-icons/Email button s3.png">
        </a>
      </div>
      <div class="single-app-icon-container">
        <a href="https://github.com/LarsThoennes">
          <img src="-/../../../assets/img/footer/app-icons/Github button s3.png">
        </a>
      </div>
      <div class="single-app-icon-container">
        <a href="https://www.linkedin.com/in/lars-th%C3%B6nnes-2b97742b3/">
          <img src="-/../../../assets/img/footer/app-icons/Linkedin button s3.png">
        </a>
      </div>
    </div>
    <div class="footer-link">
      <a>Legal notice</a>
      <div class="a-underline"></div>
    </div>
  </div>
</div>
