<div id="aboutMe" class="about-me-container">
  <div class="about-me-headline">
    <h1>About me</h1>
    <div class="about-me-content">
      <div class="about-me-information-text">
       <span class="about-me-information-text-first-span">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptate reiciendis necessitatibus laborum fuga beatae architecto, vero quaerat, laudantium sapiente harum? Quibusdam veritatis fugiat, unde eaque alias id voluptatum sit.</span>
       <span class="about-me-information-text-second-span">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, </span>
       <div class="about-me-button">
        <a href="#">
          <button>Let's talk</button>
        </a>
       </div>
      </div>
      <div class="about-me-portrait-container">
          <img class="about-me-portrait" src="./../../assets/img/about-me/portrait/portrait_1.JPG">
          <div class="overlay"></div>
      </div>
    </div>
  </div>
</div>
