<div class="project-container">
  <div class="project-content-image-container">
    <div class="overlay-arrow"></div>
    <div class="overlay"></div>
    <img class="project-content-image" src="./../../assets/img/portfolio-projects/projects-1/destop-view/Property 1=DEfault (3).png">
    <div class="project-content-description">
      <h1>Join</h1>
      <span class="project-applications">Angular | TypeScript | HTML | CSS</span>
      <span class="project-explanation">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
      <button>Github</button>
      <button>Live Test</button>
    </div>
   </div>
  <div>
    <h1 class="project-counter">01/05</h1>
  </div>
</div>
