<div class="email-section-container">
  <h1>Want to discuss a new project ?</h1>
  <span>Say hello! let's discuss your ideas and make it happen</span>
  <div class="email-section-input-container">
    <input class="input-small input-text" placeholder="Your name">
    <input class="input-small input-text" placeholder="Your email">
    <input class="input-big input-text" placeholder="Your message">
    <div class="input-checkbox-container">
      <input class="input-checkbox" type="checkbox">
      <span class="checkbox-span">I've read the <a>privacy policy</a> and agree to the processing of my data as outlined.</span>
    </div>
</div>
