<div>
  <div class="email-section-container">
  <h1 id="email">Want to discuss a new project ?</h1>
  <span>Say hello! let's discuss your ideas and make it happen</span>

  <form id="emailForm" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
   <div class="input-section">
    <input [(ngModel)]="contactData.name" name="name" type="text" placeholder="Your Name" required>
    <div class="input-value-check">
      <img src="./../../assets/img/email/checkbox/icons8-häkchen-emoji-48.png"
           *ngIf="contactData.name.length > 0">
      <img src="./../../assets/img/email/checkbox/icons8-rotes-kreuz-48.png"
           *ngIf="!(contactData.name.length > 0)">
    </div>
   </div>
   <div class="input-section">
    <input [(ngModel)]="contactData.email" name="email" type="email" placeholder="Your Email" required pattern=".+@.+">
      <div class="input-value-check">
        <img src="./../../assets/img/email/checkbox/icons8-häkchen-emoji-48.png"
             *ngIf="contactData.email.length > 5 && contactData.email.includes('@') && contactData.email.split('@')[1].length > 4">
        <img src="./../../assets/img/email/checkbox/icons8-rotes-kreuz-48.png"
             *ngIf="!(contactData.email.length > 5 && contactData.email.includes('@') && contactData.email.split('@')[1].length > 4)">
      </div>
   </div>
   <div class="input-section">
    <textarea [(ngModel)]="contactData.message" name="message" type="text" placeholder="Your message" required></textarea>
    <div class="input-value-check">
      <img src="./../../assets/img/email/checkbox/icons8-häkchen-emoji-48.png"
           *ngIf="contactData.message.length > 10">
      <img src="./../../assets/img/email/checkbox/icons8-rotes-kreuz-48.png"
           *ngIf="!(contactData.message.length > 10)">
    </div>
   </div>
   <div class="input-checkbox-container">
    <div class="checkbox-span-container">
      <input [(ngModel)]="contactData.privacyPolice" name="privacyPolice" class="input-checkbox" type="checkbox" required>
      <span class="checkbox-span">I've read the <a>privacy policy</a> and agree to the processing of my data as outlined.</span>
    </div>
    <div class="input-value-check">
      <img src="./../../assets/img/email/checkbox/icons8-häkchen-emoji-48.png"
           *ngIf="contactData.privacyPolice == true">
      <img src="./../../assets/img/email/checkbox/icons8-rotes-kreuz-48.png"
           *ngIf="(contactData.privacyPolice == false)">
    </div>
  </div>
   <div class="submit-button-container">
    <button (click)="sendMessage()" class="submit-button" type="submit" [disabled]="!contactForm.valid">Send Message</button>
   </div>
  </form>

  <app-footer-section></app-footer-section>
</div>
</div>
