.my-skills-container {
  height: 90vh;
  width: 100vw;
  background-color: rgb(255,252,243);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-family: 'syne-extra-font';
    font-size: 80px;
    background-color: rgb(255,252,243);
    position: absolute;
    margin-bottom: 610px;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      color: rgb(250,153,3);
      cursor: default;
    }
  }


  .my-skills-box-border {
    width: 60vw;
    height: 60vh;
    border: 5px solid black;

    .my-skills-box-content-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
      justify-content: center;
      align-items: center;
      height: 50vh;
      padding-top: 5vh;


      .my-skills-box-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
          cursor: pointer;
          color: rgb(250,153,3);
        }

        .my-skills-apllication-icon {
          gap: 10px;
          width: 80px;
          height: 80px;
          padding-left: 30px;
          padding-right: 30px;

          &:hover {
            animation: icon-swap 0.35s;
          }
        }

        .my-skills-box-content-application-name {
          font-family: 'overpass-font';
          font-weight: bold;
          padding-top: 20px;
        }
      }
    }
  }
}

@keyframes icon-swap {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(30px);
    opacity: 0.5;
  }
  50% {
    transform: translateX(30px);
    opacity: 0;
  }
  74% {
    transform: translateX(-30px);
    opacity: 0;
  }
  75% {
    transform: translateX(-30px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
