* {
  margin: 0;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: 'syne-extra-font';
  src: url('./../src/assets/fonts/syne/Syne-Extra.otf') format('opentype');
}

@font-face {
  font-family: 'overpass-font';
  src: url('./assets/fonts/overpass/Overpass-Regular.ttf') format('truetype');
}

