<div class="footer-section-container">
  <div class="footer-section-container-left">
    <div>
      <img src="./../../assets/img/header/logo/logo (1).png">
    </div>
    <div>
      <h2> © Lars Thönnes 2024</h2>
    </div>
  </div>
  <div class="footer-section-container-right">
    <div class="app-icon-container">
      <!-- Container um jedes Bild -->
      <div class="single-app-icon-container">
        <a href="#">
          <img src="-/../../../assets/img/footer/app-icons/Email button s3.png">
        </a>
      </div>
      <div class="single-app-icon-container">
        <a href="#">
          <img src="-/../../../assets/img/footer/app-icons/Github button s3.png">
        </a>
      </div>
      <div class="single-app-icon-container">
        <a href="#">
          <img src="-/../../../assets/img/footer/app-icons/Linkedin button s3.png">
        </a>
      </div>
    </div>
    <div>
      <a>Legal notice</a>
    </div>
  </div>
</div>

